
.navbar-items {
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #2d2d2d;
    margin-top: 0;
    list-style-type: none;
    padding: 0;
}

.navbar-items li {
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

hr {
    color: white;
    width: 40px;
}

.navbar-link {
    text-decoration: none;
    display: flex;
}

.shop-logo {
    height: 80px;
    width: 100px;
    margin-left: -350px;
}

#login {
    margin-left: 200px;
}

.shopping-cart {
    width: 50px;
    height: 45px;
}

.cart-container {
    display: flex;
}

.cart-amount {
    background: red;
    margin-left: -12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}